<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>MCO_SUPABASE_PUBLISHABLE_KEY</key>
	<string>$(MCO_SUPABASE_PUBLISHABLE_KEY)</string>
	<key>MCO_SUPABASE_URL</key>
	<string>$(MCO_SUPABASE_URL)</string>
	<key>MCO_DEBUG_PAIRED_WORKSPACE_ID</key>
	<string>$(MCO_DEBUG_PAIRED_WORKSPACE_ID)</string>
	<key>MCO_DEBUG_PAIRED_CREATOR_ID</key>
	<string>$(MCO_DEBUG_PAIRED_CREATOR_ID)</string>
	<key>MCO_DEBUG_PAIRED_MEMBER_ID</key>
	<string>$(MCO_DEBUG_PAIRED_MEMBER_ID)</string>
	<key>MCO_DEBUG_PAIRED_DEVICE_INSTALLATION_ID</key>
	<string>$(MCO_DEBUG_PAIRED_DEVICE_INSTALLATION_ID)</string>
	<key>MCO_DEBUG_PAIRED_DEVICE_TOKEN</key>
	<string>$(MCO_DEBUG_PAIRED_DEVICE_TOKEN)</string>
	<key>MCO_DEBUG_PAIRED_WORKSPACE_NAME</key>
	<string>$(MCO_DEBUG_PAIRED_WORKSPACE_NAME)</string>
	<key>MCO_DEBUG_PAIRED_CREATOR_DISPLAY_NAME</key>
	<string>$(MCO_DEBUG_PAIRED_CREATOR_DISPLAY_NAME)</string>
	<key>MCO_DEBUG_PAIRED_MEMBER_ROLE</key>
	<string>$(MCO_DEBUG_PAIRED_MEMBER_ROLE)</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchScreenBackground</string>
	</dict>
</dict>
</plist>
